body {		
position:absolute;	
	background-color:#000;
	text-align:center;
	margin:0 auto;
	top:0px;left:0px;right:0px;bottom:0px;
}


.container {
	display:block;
	width:1000px;
	height:736px;
	
	position:relative;
	margin-left: auto;
	margin-right: auto;
	background-image:url(../mp_mock2.jpg);
	
}
.toprightcontainer
{
	float:right;
	margin: 5px 45px 0 0;
	height:90px;
	width:600px;

	

}
.uw_text{
	vertical-align:top;
	display:inline-block;
	width:360px;
	height:68px;
	padding-right:20px;

	font-family:Verdana, Geneva, sans-serif;
	font-size:36px;
	font-weight:bold;
	letter-spacing:-.8px;
	line-height:34px;
	text-align:right;
	vertical-align:bottom;


}
.uw_clock_border{
	vertical-align:top;
	display:inline-block;
	background-color:#CCC;
	width:210px;
	height:62px;
	padding:1px;
	border-radius: 4px;
	margin: 20px 0 0 0;
	
}

.flip-clock-wrapper{
	margin:5px;
	text-align:center;

}

.flip-clock-wrapper ul {
	width: 20px;
	height: 38px;
	line-height:38px;
	margin:1px;
	border-radius: 3px;
	
}

.flip-clock-wrapper ul li a div div.inn{
	color:#f1f1f1;
	border-radius: 3px;
}

.flip-clock-label
{
	font:10px "Helvetica Neue",Helvetica,sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#333 !important
}

.top,.bottom
{
	display:none;
}
.flip-clock-divider .flip-clock-label{
	left:-45px;
	top:39px;
}

.flip-clock-divider
{
	width: 7px;
}
.flip-clock-wrapper ul li a div div.inn
{
	font-size:32px;
}
.flip-clock-wrapper ul li a div.up:after
{
	top:17px;
	height:2px;
}
